// ---------------------------------------------------------------------------
// Imports

@import "susy";
@import "breakpoint";


// ---------------------------------------------------------------------------
// Basic Grid

$total-columns  : 12;
$column-width   : 5em;
$gutter-width   : 2em;
$grid-padding   : $gutter-width;

$show-grid-backgrounds  : true;


// Breakpoint

$breakpoint-to-ems: true;

$bkpt-logo-normal: 400px;

$bkpt-page-small: 370px;
$bkpt-page-medium: 480px;
$bkpt-page-large: 820px;




// omega

@mixin block-columns($columns) {
  @include span-columns($total-columns / $columns);

// The last block in a row gets the omega postfix.
  &:nth-child(#{$columns}n) {
    @include omega;
  }

// The first block after a row clears left.
  &:first-child, &:nth-child(#{$columns}n+#{$columns+1}) {
    clear: both;
  }
}

@mixin reset-block-columns {
  @include reset-columns;

// Reset 'omega' definitions for all elements.
  &:nth-child(1n) {
    @include remove-omega;
  }

// Reset clears.
  &:nth-child(1n) {
    clear: none;
  }
}
