// ---------------------------------------------------------------------------
// Imports

@import "base";

/* -------------------------------------------------------------------------*/
/* Layout */


$total-columns: 12;


.header .logo {
  a {
    display: block;
    background-image: url("../images/drupalat.png");
    background-repeat: no-repeat;
    background-size: 75% 75%;
    height: 75px;
    width: 394px;
    margin: 12px 0;
    color: transparent;
  }
}


@include breakpoint($bkpt-logo-normal) {
  .header .logo a {
    background-size: 100% 100%;
  }
}

#page {
  @include container;
  // @include susy-grid-background;
}

section {
  margin-bottom: 1em;

  &.projekte {
    margin-bottom: 2em;
  }
}

// Combined section headings.
section > hgroup {
  @include clearfix;

  @include breakpoint($bkpt-page-small) {

    h1 {
      float: left;
    }
    h2 {
      float: right;
    }

  }
}


@include breakpoint($bkpt-page-medium) {
  .events {
    @include span-columns(6 omega);
  }
  .about {
    @include span-columns(6);
  }
}

@include breakpoint($bkpt-page-large) {
  .events {
    @include span-columns(5 omega);
    padding-left: 1em;
  }
  .about {
    @include span-columns(7);

    .vorteile {
      @include span-columns(8);
    }
    .mehr {
      @include span-columns(4 omega);
    }

  }
}

.projekte {
  @include span-columns(12 omega);
  .projekt {
    @include block-columns(2);

    // Only show two project on mobile.
    &:nth-child(3), &:nth-child(4) {
      display: none;
    }
  }
}

@include breakpoint($bkpt-page-medium) {

  .projekte {
    .projekt {
      @include reset-block-columns;
      @include block-columns(4);

      // Show all 4 projects on lager screens.
      &:nth-child(3), &:nth-child(4) {
        display: block;
      }
    }
  }

}

@include breakpoint($bkpt-page-medium) {

  .news, .community, .statement {
    @include span-columns(4);
  }
  .statement {
    @include omega;
    text-align: right;
    padding-left: 1.5em;
  }

}

.footer {
  @include container;
}

.footer section {
  @include block-columns(2);
}

.footer footer {
  clear: both;
}

@include breakpoint($bkpt-page-medium) {

  .footer section {
    @include reset-block-columns;
    @include block-columns(4);
  }

}

.community {
  img {
    @include block-columns(6);
  }
}


// inner

.event .links {
  float: right;
  li {
    list-style: none;
    float: left;
    margin-left: 0.5em;
  }
}

.event.featured {
  @include clearfix;

  .image {
    float: left;
    width: 44%;
  }
}

.events {

  .upcoming { display: none; }

}

.projekte {
  .description { display: none; }
  .weitere { display: none; }
}

.news {
  & > h1 { display: none; }
  .latest {
    display: none;
  }
}


img {
  width: 100%;
  height: auto;
}

.events, .news {
  h1 {
    float: none;
    font-style: italic;
    font-weight: normal;
  }
}
.events {
  text-align: right;
}

.statement {
  font-style: italic;

  p {
    font-size: 1.3em;
  }
}

.footer, .footer h3, .footer li {
  color: #999;
  font-size: 0.9em;

  a.button {
    padding: 7px;
  }
}

.footer li {
  list-style: none;
}
